.aside-container {
    background-color: #E7E6E6;
    width: 100%;
    height: 100%;
}

.aside-logo {
    width: 100px;
    height: 100px;
    margin: auto;
    z-index: 4;
}

.aside-logo:hover {
    cursor: pointer;
}

.aside-logo img {
    width: 100%;
    height: 100%;
}

.aside-content {
    height: calc(90% - 100px);
    display: flex;
    align-items: center;
}

.aside-content-list {
    padding: 10px;
    list-style: none;
    text-decoration: none;
}

.aside-content-list-item a {
    text-decoration: none;
    color: black;
}

.aside-content {
    padding: 10px;
}

.aside-content-list-item a {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.aside-content-list-item-text {
    color: var(--coffee-color);
    padding-left: 10px;
}

.aside-content-list-item-icon::before {
    font-family: FontAwesome;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.aside-content-list-item-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    order: -1;
}