:root{
    --aside-width: 0;
}

.content-page-block-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'producten abonnementen'
        'wiki overons'
        'webshop webshop'
    ;
    padding: 30px;
    padding-top: calc(var(--header-height) + 100px);
}

a.content-page-block {
    text-decoration:none;
}

.background-image-home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url('../images/koffie-home-background.webp');
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

#page-block-wiki {
    grid-area: wiki;
}

#page-block-overons {
    grid-area: overons;
}

#page-block-webshop {
    grid-area: webshop;
}

#page-block-abonnementen {
    grid-area: abonnementen;
}

#page-block-producten {
    grid-area: producten;
}

.content-page-block {
    margin: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    list-style: none;
    box-shadow: 5px 5px 5px black;
    border: 1px var(--white-color);
    padding: 20px;
    transition: 0.2s;
    height: 300px;
}

.content-page-block h2 {
    font-size: 30px;
    color: black;
    opacity: 0.7;
}

.content-page-block li {
    font-size: 20px;
    color: black;
    opacity: 0.7;
}


.content-page-block:hover {
    box-shadow: 8px 8px 5px black;
    cursor: pointer;
    border: 4px var(--white-color);
    transform: scale(1.05);
}

@media screen and (max-width: 1000px) {
    .content-page-block-grid {
        grid-template-columns: 1fr;
        grid-template-areas: 'producten'
            'abonnementen'
            'wiki'
            'overons'
            'webshop';
        padding: 10px;
        padding-top: calc(var(--header-height) + 100px);
    }
}