body {
    background-color: var(--light-grey1);
}

.category {
    margin: 50px 0px;
}

.afwijkende-margin-top {
    margin-top: 0px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    margin-top: 25px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 640px;
    max-width: 360px;
    font-size: 16px;
    color: var(--light-grey1);
    padding: 20px;
    background-color: var(--brown-color);
    border-radius: 12px;
    box-shadow: hsla(0, 0%, 86%, 0.8) 0px 0px 20px, hsla(0, 15%, 44%, 0.95) 0 0 20px inset;
    margin: 0 auto;
}

.product-title {
    font-family: "Abadi MT Std Extra Bold It";
    text-align: center;
    padding: 20px 0px 50px 0px;
}

ul {
    list-style-position: inside;
}

.product-image {
    border-radius: 12px;
    max-width: 320px;
    display: block;
    margin: auto;
    cursor: pointer;
    transition: 0.3s;
    -webkit-tap-highlight-color: transparent;
}

.product-image:hover {
    opacity: 0.75;
}

.product-info {
    font-family: 'Noto Sans NKo Unjoined', sans-serif;
    font-size: 17px;
    padding: 50px 0px 50px 0px;
    display: flex;
    justify-content: center;
}

/* Opmaak modal om afbeelding vergroot te weergeven */
#modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--black-color);
}

#modal-image {
    display: block;
    margin: auto;
    width: 80%;
    object-fit: contain;
    max-height: 800px;
    max-width: 800px;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

#close-modal {
    position: absolute;
    top: 15px;
    right: 35px;
    color: hsl(0, 0%, 95%);
    font-size: 40px;
    transition: 0.3s;
}

#close-modal:hover,
#close-modal:focus {
    color: hsl(0, 0%, 70%);
    text-decoration: none;
    cursor: pointer;
}

/* Media query hoort onderaan */
@media screen and (max-width: 600px) {
    .category-title {
        font-size: 36px;
    }

    #modal-image {
        width: 95%;
    }
}

@media screen and (max-width: 400px) {
    .category {
        margin: 0px;
    }

    .product-card {
        max-width: 320px;
    }

    .product-image {
        max-width: 280px;
    }
}